
#app > div > switch > header{
    color: #30713D;

}

#app > div > switch > div.makeStyles-root-296 > header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4 > div > div.MuiTabs-scroller.MuiTabs-scrollable > span{
    background: #3EB049;
}

.MuiTab-textColorPrimary.Mui-selected{
    color: #3EB049 !important;
}

.MuiPaginationItem-textPrimary.Mui-selected{
    background: #3EB049 !important;

}

#scrollable-force-tabpanel-2 > div > p > div:nth-child(1) > div:nth-child(6) > div:nth-child(2) > div > div > button{
    color: #3EB049;
}

#scrollable-force-tabpanel-5 > div > p > div:nth-child(1) > div > div > button{
    background: #3EB049;
}