
#app > div > switch > header{
    color: #fff ;
    padding-top: 15px !important;

}

#app > div > switch > div.makeStyles-root-296 > header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4 > div > div.MuiTabs-scroller.MuiTabs-scrollable > span{
    background: #0067F5 ;
}

.MuiTab-textColorPrimary.Mui-selected{
    color: #0067F5  !important;
}

.MuiPaginationItem-textPrimary.Mui-selected{
    background: linear-gradient(280deg, rgba(13,197,231,1) 10%, rgba(8,159,237,1) 40%, rgba(6,143,239,1) 65%, rgba(1,114,243,1) 88%) !important;

}

#scrollable-force-tabpanel-2 > div > p > div:nth-child(1) > div:nth-child(6) > div:nth-child(2) > div > div > button{
    background: linear-gradient(280deg, rgba(13,197,231,1) 10%, rgba(8,159,237,1) 40%, rgba(6,143,239,1) 65%, rgba(1,114,243,1) 88%);
}

#scrollable-force-tabpanel-5 > div > p > div:nth-child(1) > div > div > button{
    background: linear-gradient(280deg, rgba(13,197,231,1) 10%, rgba(8,159,237,1) 40%, rgba(6,143,239,1) 65%, rgba(1,114,243,1) 88%);
}

.makeStyles-appBar-1, .makeStyles-imageMarked-95{
    background: #0067F5 !important;

}

.makeStyles-root-88, .makeStyles-image-89:hover .makeStyles-imageTitle-94, .makeStyles-image-89.makeStyles-focusVisible-90 .makeStyles-imageTitle-94{
    border: 4px solid #0067F5 !important;
}






.Restaurantes, .Souvenires{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: center;
}

.TarjetaRestaurante{
    max-width: 270px;
    margin-top: 40px;
}

.TarjetaSouvenir{
    max-width: 270px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#app > div > switch > div.makeStyles-root-296 > main > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 > div.MuiFormControl-root{
    margin: auto !important;
}
@media screen and (max-width: 1200px) {
    .Restaurantes{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .Restaurantes{
        grid-template-columns: repeat(2, 1fr);
    }
    .TarjetaRestaurante{
        max-width: 300px;
    }
}
@media screen and (max-width: 690px) {
    .Restaurantes{
        grid-template-columns: repeat(1, 1fr);
    }
    .TarjetaRestaurante{
        max-width: 450px;
    }
}


@media screen and (max-width: 470px) {
    #app > div > switch > div.makeStyles-root-296 > main > div > h1{
        font-size: 1.9em;
    }
    #app > div > switch > div.makeStyles-root-296 > main > div > div.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.makeStyles-stepper-305.MuiPaper-elevation0 > div > span > span.MuiStepLabel-labelContainer > span{
        font-size: 0.77em;
    }
    #app > div > switch > div.makeStyles-root-296 > main > div > div.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.makeStyles-stepper-305.MuiPaper-elevation0{
        flex-direction: column;

    }
    #app > div > switch > div.makeStyles-root-296 > main > div > div.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.makeStyles-stepper-305.MuiPaper-elevation0 > div > span > span.MuiStepLabel-labelContainer > span{
        width: 93px;
    }
    #app > div > switch > div.makeStyles-root-296 > main > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 > div.MuiFormControl-root > div > div{
        min-width: 100px;
    }
    #inputLabel{
        min-width: 170px;
    }
    
}






@media screen and (max-width: 1500px) {
    .Souvenires{
        grid-template-columns: repeat(3, 1fr);
    }
    .TarjetaSouvenir{
        max-width: 380px;
    }
}
@media screen and (max-width: 1100px) {
    .Souvenires{
        grid-template-columns: repeat(2, 1fr);
    }
    .TarjetaSouvenir{
        max-width: 480px;
    }
}
@media screen and (max-width: 550px) {
    .Souvenires{
        grid-template-columns: repeat(1, 1fr);
    }
    .TarjetaSouvenir{
        max-width: 480px;
    }
}
.leftDestiny{
    margin-left: 5vw;
    width: 42%;


    div.makeStyles-root-94 > p > div > div > div > div > div{
        &:nth-child(1){
            width: 40%;
    
            button{
                width: 100%;
            }
        }

        &:nth-child(2){
            flex-direction: column;
        }
    }

}

.containerDestiny{
    display: flex;
}


.search-boxxx{
    margin-bottom: 25px;
    width: 20vw;
    transition: width 0.4s ease;
    z-index: 999;
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.527), 0 7px 12px -5px rgba(0, 0, 0, 0.678);
    backdrop-filter: blur(4px);
    background-color: #181818a4 ;

    i{
        color: rgba(211, 211, 211, 0.932);
    }
  }
  
  .search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.4s;
  }
  
  .search-boxxx:hover > .search-txt{
    width: calc(28vw - 60px);
    padding: 0 6px;
   
  }
  
  .search-boxxx:hover > .search-btn{
    background: white;
    
  }

  .search-boxxx:hover{
    width: 28vw;
    i{
        color: #000;
    }
  }
  
  .search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

  .search-txt::placeholder{
      color: rgb(167, 167, 167);
  }

  #app > div > switch > div.containerDestiny > div.leftDestiny > div.makeStyles-root-94 > p > div > div{
      padding-bottom: 10px;
  }

#scrollable-force-tabpanel-2 > div > p > div:nth-child(1) > div:nth-child(6) > div:nth-child(2) > div > div > button{
    color: #fff !important;
}