.ReadyEmailSubscribe-submit-330{
    background: linear-gradient(280deg, rgba(13,197,231,1) 10%, rgba(8,159,237,1) 40%, rgba(6,143,239,1) 65%, rgba(1,114,243,1) 88%);
}

#app > div > switch > div > div.MuiBox-root.MuiBox-root-866 > div.MuiBox-root.MuiBox-root-877.makeStyles-middle-858, #app > div > switch > div > div.MuiBox-root.MuiBox-root-866 > div.MuiBox-root.MuiBox-root-883.makeStyles-bottom-859{
    background-color: #fff  !important;
}
















@media screen and (max-width: 962px) {
    #app > div > switch > div.MuiBox-root.MuiBox-root-321 > div.MuiBox-root.MuiBox-root-332.makeStyles-middle-313 > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-8.MuiGrid-grid-lg-6 > div > div > a, #app > div > switch > div.MuiBox-root.MuiBox-root-321 > div.MuiBox-root.MuiBox-root-332.makeStyles-middle-313 > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-8.MuiGrid-grid-lg-6 > div > div > h6{
        display: block;
        text-align: center;
    }
    .container_redes{
        margin: auto;
        width: 144px;
    }
    #app > div > switch > div.MuiBox-root.MuiBox-root-321 > div.MuiBox-root.MuiBox-root-332.makeStyles-middle-313 > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-8.MuiGrid-grid-lg-3 > h6{
        display: block;
        text-align: center;
    }

}
