#app > div > switch > div > div.homepage{
    background-attachment: fixed;
    height: 100%;
}

#app > div > switch > div > div.makeStyles-div-87{
    margin: 0;
}

#app > div > switch > div > div:nth-child(5){
    background: #fff;
    margin-top: 100px;
    padding-top: 100px;
}

#app > div > switch > div > div:nth-child(3) > main > div{
    width:100%;
}