#app > div > switch > div > div.homepage{
    background-attachment: fixed;
    height: 100%;
}


// #app > div > switch > header{
//     color: #fff ;
//     backdrop-filter: blur(10px);
//     background-color: #181818a4 !important;
//     padding-top: 15px !important;
// }


#app > div > switch > div > div.makeStyles-div-87{
    margin: 0;
}

#app > div > switch > div > div:nth-child(5){
    background: #fff;
    margin-top: 100px;
    padding-top: 100px;
}

#app > div > switch > div > div:nth-child(3) > main > div{
    width:100%;
}

.homeDestinySelected{
    background: url('https://i.ibb.co/smrhV4H/buzo.jpg');
    background-repeat: no-repeat;
    position: absolute;
    opacity: .8;
    z-index: -5;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    top: 0px;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar, div::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical, div::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button , div::-webkit-scrollbar-button:increment, div::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal, div::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track ,div::-webkit-scrollbar-track {
    border-radius: 10px;  
}

