.homepage {
  background: url('../../img/bg_1.jpg');
  background-repeat: no-repeat;
  position: absolute;
  opacity: .8;
  z-index: -5;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  top: 0;

}

.titleHome{
  font-family: 'Quicksand', sans-serif;
  font-size: 3vw;
  font-weight: 900;
}

.pro{
  color: #0d47a1;
  font-weight: 900;
  font-size: 3.5vw;
}

.travel{
  color: #3a3939;
  font-weight: 700;
}

/* *{
  background-color: black;
} */
