#app > div > switch > div > div.homepage{
    background-attachment: fixed;
    height: 100%;
}


#app > div > switch > div > div.makeStyles-div-87{
    margin: 0;
}

#app > div > switch > div > div:nth-child(5){
    background: #fff;
    margin-top: 100px;
    padding-top: 100px;
}

#app > div > switch > div > div:nth-child(3) > main > div{
    width:100%;
}

.homeDestinySelected{
    background: url('https://i.ibb.co/smrhV4H/buzo.jpg');
    background-repeat: no-repeat;
    position: absolute;
    opacity: .8;
    z-index: -5;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    top: 0px;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar, div::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical, div::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button , div::-webkit-scrollbar-button:increment, div::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal, div::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track ,div::-webkit-scrollbar-track {
    border-radius: 10px;  
}

#app > div > switch > div.MuiGrid-root-90.MuiGrid-container-91.MuiGrid-align-items-xs-center-99.MuiGrid-justify-xs-center-108 > div > div.MuiPaper-root-193.makeStyles-header-88.MuiPaper-elevation0-196{
    background-color: #ffffff85;
    border-radius: 31px 31px 0px 0px;
}

#app > div > switch > div.MuiGrid-root-90.MuiGrid-container-91.MuiGrid-align-items-xs-center-99.MuiGrid-justify-xs-center-108 > div > div.MuiPaper-root-193.MuiMobileStepper-root-251.MuiMobileStepper-positionStatic-254.MuiPaper-elevation0-196{
    border-radius: 0px 0px 31px 31px;
    background-color: #ffffff85;
}


.makeStyles-drawerPaper-17{
    box-shadow: 0 4px 20px 0px rgba(7, 7, 7, 0.14), 0 7px 12px -5px rgba(36, 36, 36, 0.46);
    backdrop-filter: blur(10px);
    background-color: #181818a4 !important;

    .makeStyles-navLink-36{
        color: #fff;
    }

    .makeStyles-button-45 svg{
        color: #fff;
    }
    .makeStyles-navLink-36:hover, .makeStyles-navLink-36:focus{
        color: #fff;
    }
}
#app > div > switch > div > div:nth-child(3) > img{
    width: 11vw;
}




@media screen and (max-width: 1090px) {
    #app > div > switch > div > div:nth-child(3) > img{
        width: 21vw;
    }
}


@media screen and (max-width: 770px) {
    #scrollable-force-tabpanel-1 > div > p > div.makeStyles-root-361{
        flex-wrap: wrap;
    }

    #scrollable-force-tabpanel-1 > div > p > div.makeStyles-root-361 > div.MuiTabs-root.makeStyles-tabs-362.MuiTabs-vertical{
        width: 100%;
    }

}


#scrollable-force-tabpanel-1 > div > p > div.makeStyles-root-361 > div.MuiTabs-root.makeStyles-tabs-362.MuiTabs-vertical{
    min-width: 160px;
}

.PrivateTabIndicator-colorSecondary-299{
    background-color: #0067F5 !important;
}

#vertical-tabpanel-2, #vertical-tabpanel-1{
    width: 100%;
}
#vertical-tabpanel-2 > div > p > div > div > svg, #vertical-tabpanel-1 > div > p > div > div > svg{
    display: block;
    margin: auto;
    color: #0067F5;
    width: 60px;
    height: 60px;
}

.sin_pedidos, .sin_favoritos{
    margin-top: 40px;
}

#scrollable-force-tabpanel-0 > div > p > div.makeStyles-root-628 > div.MuiTabs-root.makeStyles-tabs-629.MuiTabs-vertical{
    min-width: 200px;
    min-height: 300px;
}

@media (max-width: 700px){
    #scrollable-force-tabpanel-2 > div > p > div:nth-child(1) > div:nth-child(6){
    flex-direction: column;
    }
    #scrollable-force-tabpanel-2 > div > p > div:nth-child(1) > div > div:nth-child(2){
        margin-top: 10px;
    }

}

#scrollable-force-tabpanel-2 > div > p > div.makeStyles-root-569 > p > div{
    margin-top: 10px;
}

#app > div > switch > div.makeStyles-root-5122 > div.MuiTabs-root.makeStyles-tabs-5123.MuiTabs-vertical > div > span{
    background-color: #0067F5 !important;

}

.RoundTextField-focused-5133:hover:not(.RoundTextField-disabled-5135), .RoundTextField-focused-5133{
    border-color: #0067F5 !important;
}

.MuiFormLabel-root-5156.Mui-focused{
    color: #0067F5 !important;
}

#vertical-tabpanel-0 > div > p > div > div > div.makeStyles-parent-5217.makeStyles-parent-5219 > div > button{
    background: linear-gradient(280deg, rgba(13, 197, 231, 1) 10%, rgba(8, 159, 237, 1) 40%, rgba(6, 143, 239, 1) 65%, rgba(1, 114, 243, 1) 88%) !important;
}

.MinimalSelect-list-5658 li.Mui-selected{
    background-color: #0067F5 !important;

}

.MinimalSelect-list-5658 li:hover{
    background-color: #0067F5 !important;

}

.colorBoton{
    background: linear-gradient(280deg, rgba(13, 197, 231, 1) 10%, rgba(8, 159, 237, 1) 40%, rgba(6, 143, 239, 1) 65%, rgba(1, 114, 243, 1) 88%) !important;

}

li.prueba.Mui-selected {
    background-color: #0067F5 !important;

}
.prueba:hover{
    background-color: #0066f52f !important;

}

.selector{
    border-color: #0067F5 !important;
}

#vertical-tabpanel-0 > div > p > div > div > div.datos > div > div.Mui-focused{
    border-color: #0067F5 !important;
    
}

#vertical-tabpanel-0 > div > p > div > div > div.datos > div > label.Mui-focused{
    color: #0067F5 !important;

}

#app > div > switch > div> div > div > span{
    background-color: #0067F5;
}

#panel1a-content > div > p > div > div > div > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-true > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.MuiGrid-item.MuiGrid-direction-xs-column.MuiGrid-grid-xs-true > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true > h6{
    color: #0067F5 !important;
font-weight: 500;
}

#panel1a-header{
    background-color: #0066f52f !important;
}