#app > div > switch > div.container-home > div:nth-child(7),#app > div > switch > div > div:nth-child(5),#app > div > switch > div > div:nth-child(6),#app > div > switch > div > div:nth-child(8),#app > div > switch > div > div:nth-child(9){
    background: #fff;
    padding-top: 40px;
}



#app > div > switch > div.container-home > div:nth-child(5){
    
    div > div{
        min-width: 26vw !important;

        img{
            height: 27vh;
        }

    }
}

@media (max-width: 600px){
    #app > div > switch > div.container-home > div:nth-child(5){
    
        div > div{
            min-width: 100% !important;
    
            img{
                height: 27vh;
            }
    
        }
    }
    }
    
    @media (max-width: 1100px){
        #app > div > switch > div.container-home > div:nth-child(5),
    #app > div > switch > div.container-home  > div:nth-child(6),
    #app > div > switch > div.container-home  > div:nth-child(7),    
    #app > div > switch > div.container-home  > div:nth-child(8){
    
            div > div{
                min-width: 50%!important;
    
                img{
                    height: 27vh;
                }
    
            }
        }
        }
@media (max-width: 550px){
    #app > div > switch > div.container-home > div:nth-child(5),
    #app > div > switch > div.container-home  > div:nth-child(6),
    #app > div > switch > div.container-home  > div:nth-child(7),    
    #app > div > switch > div.container-home  > div:nth-child(8){

        div > div{
            min-width: 100%!important;
        }
    }
}

#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-668.MuiCard-root-667.makeStyles-root-96.MuiPaper-elevation1-672.MuiPaper-rounded-669,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-763.MuiCard-root-762.makeStyles-root-96.MuiPaper-elevation1-767.MuiPaper-rounded-764,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-858.MuiCard-root-857.makeStyles-root-96.MuiPaper-elevation1-862.MuiPaper-rounded-859,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-953.MuiCard-root-952.makeStyles-root-96.MuiPaper-elevation1-957.MuiPaper-rounded-954,

#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1808.MuiCard-root-1807.makeStyles-root-96.MuiPaper-elevation1-1812.MuiPaper-rounded-1809,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1903.MuiCard-root-1902.makeStyles-root-96.MuiPaper-elevation1-1907.MuiPaper-rounded-1904,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1998.MuiCard-root-1997.makeStyles-root-96.MuiPaper-elevation1-2002.MuiPaper-rounded-1999,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2093.MuiCard-root-2092.makeStyles-root-96.MuiPaper-elevation1-2097.MuiPaper-rounded-2094,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2188.MuiCard-root-2187.makeStyles-root-96.MuiPaper-elevation1-2192.MuiPaper-rounded-2189{
    position: relative;
}

#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574> button > div,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-668.MuiCard-root-667.makeStyles-root-96.MuiPaper-elevation1-672.MuiPaper-rounded-669> button > div,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-763.MuiCard-root-762.makeStyles-root-96.MuiPaper-elevation1-767.MuiPaper-rounded-764> button > div,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-858.MuiCard-root-857.makeStyles-root-96.MuiPaper-elevation1-862.MuiPaper-rounded-859> button > div,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-953.MuiCard-root-952.makeStyles-root-96.MuiPaper-elevation1-957.MuiPaper-rounded-954> button > div,
    
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1808.MuiCard-root-1807.makeStyles-root-96.MuiPaper-elevation1-1812.MuiPaper-rounded-1809> button > div,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1903.MuiCard-root-1902.makeStyles-root-96.MuiPaper-elevation1-1907.MuiPaper-rounded-1904> button > div,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1998.MuiCard-root-1997.makeStyles-root-96.MuiPaper-elevation1-2002.MuiPaper-rounded-1999> button > div,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2093.MuiCard-root-2092.makeStyles-root-96.MuiPaper-elevation1-2097.MuiPaper-rounded-2094> button > div,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2188.MuiCard-root-2187.makeStyles-root-96.MuiPaper-elevation1-2192.MuiPaper-rounded-2189> button > div{
    position: absolute;
    bottom: -3%;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574> button > div > h2,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-668.MuiCard-root-667.makeStyles-root-96.MuiPaper-elevation1-672.MuiPaper-rounded-669> button > div > h2,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-763.MuiCard-root-762.makeStyles-root-96.MuiPaper-elevation1-767.MuiPaper-rounded-764> button > div > h2,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-858.MuiCard-root-857.makeStyles-root-96.MuiPaper-elevation1-862.MuiPaper-rounded-859> button > div > h2,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-953.MuiCard-root-952.makeStyles-root-96.MuiPaper-elevation1-957.MuiPaper-rounded-954> button > div > h2,
    
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1808.MuiCard-root-1807.makeStyles-root-96.MuiPaper-elevation1-1812.MuiPaper-rounded-1809> button > div > h2,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1903.MuiCard-root-1902.makeStyles-root-96.MuiPaper-elevation1-1907.MuiPaper-rounded-1904> button > div > h2,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1998.MuiCard-root-1997.makeStyles-root-96.MuiPaper-elevation1-2002.MuiPaper-rounded-1999> button > div > h2,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2093.MuiCard-root-2092.makeStyles-root-96.MuiPaper-elevation1-2097.MuiPaper-rounded-2094> button > div > h2,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2188.MuiCard-root-2187.makeStyles-root-96.MuiPaper-elevation1-2192.MuiPaper-rounded-2189> button > div > h2{
        font-weight: 500;
    }
    #app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574> div,
    #app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-668.MuiCard-root-667.makeStyles-root-96.MuiPaper-elevation1-672.MuiPaper-rounded-669> div,
    #app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-763.MuiCard-root-762.makeStyles-root-96.MuiPaper-elevation1-767.MuiPaper-rounded-764> div,
    #app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-858.MuiCard-root-857.makeStyles-root-96.MuiPaper-elevation1-862.MuiPaper-rounded-859> div,
    #app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-953.MuiCard-root-952.makeStyles-root-96.MuiPaper-elevation1-957.MuiPaper-rounded-954> div,
    
    #app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1808.MuiCard-root-1807.makeStyles-root-96.MuiPaper-elevation1-1812.MuiPaper-rounded-1809> div,
    #app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1903.MuiCard-root-1902.makeStyles-root-96.MuiPaper-elevation1-1907.MuiPaper-rounded-1904> div,
    #app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1998.MuiCard-root-1997.makeStyles-root-96.MuiPaper-elevation1-2002.MuiPaper-rounded-1999> div,
    #app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2093.MuiCard-root-2092.makeStyles-root-96.MuiPaper-elevation1-2097.MuiPaper-rounded-2094> div,
    #app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2188.MuiCard-root-2187.makeStyles-root-96.MuiPaper-elevation1-2192.MuiPaper-rounded-2189> div{
        display: none;
    }
    
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-668.MuiCard-root-667.makeStyles-root-96.MuiPaper-elevation1-672.MuiPaper-rounded-669,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-763.MuiCard-root-762.makeStyles-root-96.MuiPaper-elevation1-767.MuiPaper-rounded-764,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-858.MuiCard-root-857.makeStyles-root-96.MuiPaper-elevation1-862.MuiPaper-rounded-859,
#app > div > switch > div.container-home  > div:nth-child(6) > div > div.MuiPaper-root-953.MuiCard-root-952.makeStyles-root-96.MuiPaper-elevation1-957.MuiPaper-rounded-954,
    
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1808.MuiCard-root-1807.makeStyles-root-96.MuiPaper-elevation1-1812.MuiPaper-rounded-1809,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1903.MuiCard-root-1902.makeStyles-root-96.MuiPaper-elevation1-1907.MuiPaper-rounded-1904,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-1998.MuiCard-root-1997.makeStyles-root-96.MuiPaper-elevation1-2002.MuiPaper-rounded-1999,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2093.MuiCard-root-2092.makeStyles-root-96.MuiPaper-elevation1-2097.MuiPaper-rounded-2094,
#app > div > switch > div.container-home > div:nth-child(8) > div > div.MuiPaper-root-2188.MuiCard-root-2187.makeStyles-root-96.MuiPaper-elevation1-2192.MuiPaper-rounded-2189{
        button{
            height: 300px;
            img{
                height: 100%;
            }
        }
    }
    
.ReadyEmailSubscribe-submit-2300{
    background: linear-gradient(280deg, rgba(13, 197, 231, 1) 10%, rgba(8, 159, 237, 1) 40%, rgba(6, 143, 239, 1) 65%, rgba(1, 114, 243, 1) 88%) !important;
    }

@media (max-width: 600px){

}

#scrollable-force-tabpanel-2 > div > p > div:nth-child(1){
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: 10px;
}

#app > div > switch > div > div:nth-child(6) > div > div.MuiPaper-root-573.MuiCard-root-572.makeStyles-root-96.MuiPaper-elevation1-577.MuiPaper-rounded-574{
    width: 33.3%;
}
