a{
    text-decoration: none;
    color: #1769aa;
    font-size: 22px;
}
.imagen{
    height: 99vh;
    width: 50vw;
}

.texto{
    text-align: center;
    align-self: center;
}

.boton{
    transform: translate(10px,0);
}

.Recuperar_contraseña{
    position: relative;
    display: inline;
}

h1,h2,h3,h4 {
    color: #1769aa;
}

@media screen and (max-width: 960px) {
    .imagen{
        display: none
        ;
    }
}
