
@media screen and (max-width: 400px) {
    #scrollable-force-tabpanel-1 > div > p > div.MuiGrid-root.makeStyles-root-1178.MuiGrid-container.MuiGrid-spacing-xs-4.MuiGrid-wrap-xs-nowrap{
        flex-direction: column;
        overflow: hidden;
    }

}
#scrollable-force-tabpanel-1 > div > p > div:nth-child(2) > div:nth-child(2) > div > div.MuiCardMedia-root.makeStyles-root-385.makeStyles-root-386.makeStyles-img-382{
    padding-bottom: 16.25% !important;
}