.MuiStepIcon-root.MuiStepIcon-completed{
    color: #0067F5 !important;
}

.MuiStepIcon-root.MuiStepIcon-active{
    color: #0067F5 !important;

}

.MuiButton-containedPrimary:hover{
    background-color: #0046a8 !important;
}

.MuiButton-containedPrimary{
    background-color: #0050c0 !important;
}