.Promos{
    display: flex;
    justify-content: space-around;
}

#scrollable-force-tabpanel-1 > div > p > div.Promos > div> div> div > div > div{
    border-right: 4px dotted #9F060B !important;
}

#app > div > switch > div > div:nth-child(2) > div:nth-child(3) > div.makeStyles-left-101.makeStyles-left-121.makeStyles-moveLeft-99 > div > div{
    border-right: 4px dotted #9F060B !important;
}

#app > div > switch > div > div:nth-child(2) > div:nth-child(3) > div.makeStyles-left-101.makeStyles-left-105.makeStyles-moveLeft-99 > div > div{
    border-right: 4px dotted #9F060B !important;

}

